@keyframes xbox-text {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
    transform: translateY(-110px);
  }
  30% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 1;
    opacity: 1;
    transform: translateY(-110px);
  }
  60%,
  90% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
    transform: translateY(-110px);
  }
  100% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 0;
    transform: translateY(-110px);
  }
}

#xbox_x1 {
  animation: xbox-text 7s ease 0s forwards;
}

#xbox_x2 {
  animation: xbox-text 7s ease 0s forwards;
}

#xbox_b {
  animation: xbox-text 7s ease 0s forwards;
}

#xbox_o {
  animation: xbox-text 7s ease 0s forwards;
}

@keyframes xbox-logo {
  0% {
    fill-opacity: 0;
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
    transform: translateY(70px);
  }
  70% {
    fill-opacity: 0;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 1;
    opacity: 1;
    transform: translateY(70px);
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
    transform: translateY(70px);
  }
}

#xbox_logo {
  opacity: 0;
  animation: xbox-logo 7s ease 7s forwards;
}

@keyframes xbox-shadow {
  0%,
  20% {
    filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0))
      drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
  40%,
  50% {
    filter: drop-shadow(0px 0px 50px rgba(247, 247, 247, 0.5))
      drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.9));
  }
  75% {
    filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0))
      drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
  }
  100% {
    filter: drop-shadow(0px 0px 0px rgba(247, 247, 247, 0.5))
      drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.9));
  }
}

svg {
  filter: drop-shadow(0px 0px 50px rgba(247, 247, 247, 0))
    drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));

  animation: xbox-shadow 7s ease 10s forwards;
}
